.cart-side-wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,.6);
    z-index: 999;
    visibility: hidden;
}

.cart-side-wrapper.opened{
    visibility: visible;
}

.cart-side-container{
    position: absolute;
    width: 20%;
    height: 100%;
    top: 0;
    right: -500px;
    background-color: white;
    z-index: 999;
    transition: 0.4s;
}

.cart-side-container.opened{
    right: 0px;
}

.cart-side-heading{
    position: relative;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;
}

.cart-side-heading p{
    padding: 15px;
    font-size: 2rem;
    font-weight: 700;
}

.cart-side-heading .close-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 15px;
}


.cart-side-content{
    width: 100%;
    height: calc(100% - 100px - 120px);
    display: flex;
    flex-direction: column;
}

.cart-side-scroll{
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
}

.cart-side-scroll .product{
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.cart-side-scroll .product .product-img{
    width: 100px;
    height: 80px;
}

.cart-side-scroll .product .left{
    display: flex;
    flex-direction: column;
}

.cart-side-scroll .product .left .product-name{
    padding: 5px;
    font-size: 1rem;
}

.cart-side-scroll .product .product-price{
    padding: 5px;
    font-size: 1rem;
}

.cart-side-scroll .product .product-price .quantity{
    color: var(--default-font-hover-color);
}

.cart-side-footer{
    position: relative;
    width: 100%;
    height: 120px;
    bottom: 0;
    background-color: white;
}

.cart-side-sum-money{
    padding: 15px;
    font-size: 1rem;
    font-weight: 600;
}

.cart-side-sum-money span{
    color: var(--default-font-hover-color)
}

.cart-side-view-cart{
    margin: 0 auto;
    width: 90%;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    background-color: var(--green-color);
    color: white;
    transition: 0.3s;
}

.cart-side-view-cart:hover{
    cursor: pointer;
    background-color: var(--green-hover-color);
}

.cart-wrapper{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.cart-heading p{
    font-size: 1.5rem;
}

.cart-content{
    display: flex;
    flex-direction: row;
}

.cart-content-left{
    position: relative;
    flex: 70%;
}

.cart-table{
    position: relative;
}

.cart-table tr:hover:not(thead tr:nth-of-type(1)) {
    background-color: #f5f5f5;
}

.cart-table-head{
    position: relative;
    background-color: white;
    font-weight: 600;
}

.cart-table-thumbnail{
    width: 120px;
    height: 80px;
}

.cart-table-thumbnail img{
    width: 100px;
    height: 60px;
}

.cart-table-price {
    width: 150px;
}

.cart-table-quantity{
    width: 150px;
}

.quantity-minus, .quantity-plus{
    padding: 0;
    margin: 0;
    background-color: white;
    width: 30px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #d4d4d4;
    padding: 6px;
    font-size: 1rem;
    line-height: 1.42857143;
    transition: 0.5s ease-out;
}

.cart-table .quantity-minus:hover, .quantity-plus:hover{
    background-color: var(--default-font-hover-color);
}

.cart-table .quantity{
    padding: 0;
    margin: 0;
    background-color: white;
    width: 60px;
    display: inline-block;
    outline: none;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid #d4d4d4;
    padding: 6px 6px;
    font-size: 1rem;
    line-height: 1.42857143;
    transition: 0.5s ease-out;
}

.cart-table-remove{
    width: 20px;
}

.cart-table-remove img{
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 0 auto;
}

.cart-content-right{
    flex: 25%;
    margin: 0 15px;
    padding: 15px;
    width: 100px;
    max-height: 200px;
    border: 1px solid rgb(187, 187, 187);
}

.cart-total-heading p{
    font-size: 1.5rem;
    padding: 15px;
}

.cart-total p{
    font-size: 1rem;
    padding: 15px;
}

.cart-total-price {
    color: var(--default-font-hover-color);
}

.cart-buy{
    margin: 0 auto;
    width: 90%;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    background-color: var(--green-color);
    color: white;
    transition: 0.3s;
}

.cart-buy:hover{
    cursor: pointer;
    background-color: var(--green-hover-color);
}

.cart-buy-modal-flow{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    z-index: 9999;
    display: flex;
    visibility: hidden;
}

.cart-buy-modal-flow.opened{
    visibility: visible;
}

.cart-buy-modal-content{
    position: absolute;
    width: 400px;
    height: 400px;
    transform: scale(0%);
    background-color: white;
    transition: 0.4s ease-in;
    z-index: 999;
}

.cart-buy-modal-content.opened{
    transform: scale(100%);
}

.cart-buy-modal-content .close-icon {
    z-index: 999;
}

.cart-buy-header{
    padding: 10px;
    text-align: center;
}

.cart-buy-user-info p{
    padding: 10px;
}

.cart-buy-input-container {
    padding: 10px;
}

.cart-buy-input-container p{
    padding: 10px 5px;
}

.cart-buy-input {
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    padding: 10px;
    border: 1px solid rgb(184, 184, 184);
    color: var(--default-font-color);
    background-color: var(--default-body-color);
}

.cart-buy-input:focus{
    border: none;
}

.cart-buy-button-container{
    padding: 10px;
}

.cart-buy-button{
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    padding: 10px;
    border: none;
    text-align: center;
    color: white;
    background-color: var(--default-font-hover-color);
    transition: 0.3s;
}

.cart-buy-button:hover{
    cursor: pointer;
    background-color: var(--default-font-hover-dark-color);
}