/* sinh */
#content .modal { 
    position: absolute ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color: rgba(8, 8, 8, 0.45);
}

#content .modal-content {
    background-color: #fff;
    margin: auto;
    margin-top: 50px;
}

#content .modal-header {
    width: auto;
    background-color:none;
    text-align: right;
    
}

.btnCloseModal {
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
}


.center{
    margin-top: 30px;
    position: absolute;
    top : 110px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    background:white	;
    border-radius: 10px ;
    
}
.center h1{
    text-align: center;
   
    padding: 10px 0px  10px 0;
    border-bottom: 1px solid rgb(218, 17, 17);
    }
.center h2{
 text-align: center;
  padding: 10px 0 10px 0;
   border-bottom: 1px solid rgb(218, 17, 17);
    }
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txt_field{
    position: relative;
    /* border-bottom: 2px solid rgb(51, 58, 153); */
    margin: 30px 0 0;
}
.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline : none;
    border-bottom: 2px solid rgb(51, 58, 153);
    }
.txt_field label{
    position: absolute;
    top: 30%;
    left: 5px;
    color:blue;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
    
}
.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2691d9;
}
#txt_field_email:focus ~ label,
#txt_field_email:valid ~ label{
    top:-5px;
    color: #2691d9;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top:-5px;
    color: #2691d9;
}
.txt_field input:focus ~ span,
.txt_field input:valid ~ span{
    width: 100%;
}
.pass{
    margin: -5px 0 20px 5px;
    color:blue;
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
}
.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color:red		;
}
.signup_link a{
    color: #1E90FF;
    text-decoration: none;
}
.signup_link a:hover{
    text-decoration: underline;
}



input[type="submit"]{
    width: 100%;
    height: 50px;
    border:1px solid;
    background:#1E90FF;
    border-radius: 25px;
    font-size:18px;
    color:white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-bottom: 5px;
}
input[type="button"]{
border-color: #1E90FF;
transition : .5s;
}
input[type="button"]{
    width: 100%;
    height: 50px;
    border:1px solid;
    background:#1E90FF;
    border-radius: 25px;
    font-size:18px;
    color:white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
}
input[type="button"]{
border-color: #1E90FF;
transition : .5s;
}

#tableCart{
    max-height: 60vh;
    overflow: auto;
    padding: 10px 10px 10px 10px;
    width: 100%;
}
.cart{   
    margin-top: 300px;
    width: 90%;
    background-color: #fff;
    position: absolute;
    top: 10%;   
    left: 50%;
    transform: translate(-50%,-50%);
    background:white	;
    border-radius: 10px ;
    text-align: center;
}
.cart1{
    
    display: flex;
    align-items:center;
}
.cart1 img{
    width:82px
}
.cart2 input{
    width:60px;
    outline:none;
}
.cart3{
    cursor: pointer;
}
.cart h1{
    margin: 10px 10px;
}
.cart h2{
    margin-bottom: 20px;
}
.cart table{
   
    width: 100%;
}
.cart table thead tr th:first-child{
    text-align: left;
}
.cart table tr td{
    border-bottom:1px solid #ddd ;
    padding:  12px 0;
}
.tongTien{
    color: red;
    height: 50px;
    align-items:center;;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}
.tongTien-1{
    font-weight: bold;
}
.cart table tr th:last-child{
    text-align: center;
}
.cart table tr td:last-child{
    text-align: center;
}
.cart4{
    width: 100%;
}
.thanhToan{
    display: flex;
    justify-content: right;
    height: 35px;
    padding: 0px 5px 5px 5px;
    text-align: right;
}
.thanhToan input{
    background-color: chocolate;
    margin-right: 10px;
    height: 100%;
    width: 50%;
    
    border-radius: 5px;
}
#khongCoSanPham{
    display: block;
}
#coSanPham{
    display: none;
}
#hinhNoCart{
    
    width: 300px;
}
.gioHang{
    
    background-color: rgba(8, 8, 8, 0.45);
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background:white	;
    border-radius: 10px ;
    margin-top: 30px;
}
#formDangKi{
    max-height: 50vh;
    overflow-x: hidden;
}
::-webkit-scrollbar { 
    display: none; 
}

#input-fromDangNhap{
    width: 100%;
    height: 50px;
    border:1px solid;
    background:#1E90FF;
    border-radius: 25px;
    font-size:18px;
    color:white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    text-align: center;
    margin-bottom: 5px;
}
#input-fromDangKi{
    width: 100%;
    height: 50px;
    border:1px solid;
    background:#1E90FF;
    border-radius: 25px;
    font-size:18px;
    color:white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-bottom: 5px;
    text-align: center;
    
}

.xuLiDonHang {
    text-align: center;
}

.xuLiDonHang input{
    background-color: #2691d9;
    margin-right: 40px;
    width: 40%;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    color: white;
}