p
{
    font-size: 18px;
    color: #111;
    padding: 10px 20px;
    /* text-transform: uppercase; */
    font-weight: 600;
}

#page-product-container {
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px 10px;
    margin-bottom: 50px;
    margin-left: 4rem;
    margin-right: 4rem;
}

#page-product-briefing {
    display: flex;
}

/*left*/
#page-product-briefing-left {
    flex-basis: 60%;
    padding: 10px 10px
}

#page-product-briefing-left img {
    width: 100%;
}

#page-product-briefing-left-amount {
    height: 50px;
    margin: 50px auto 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-between; 
}

#page-product-briefing-left-amount .amount-product {
    margin: 0 1rem;
    width: calc(100% - 2rem);
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    height: 2rem;
    font-size: 1.5rem;
    line-height: 2rem;
}

#page-product-briefing-left-amount .btn {
    width: 2.5rem;
    height: 2rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    line-height: 1.5rem;
    font-weight: bold;
    vertical-align: middle;
    overflow: hidden;
    transition: 0.5s;
    background-color: var(--blue-color);
    color: white;
}

#page-product-briefing-left-amount .btn:hover {
    background-color: var(--blue-color-hover);
}


/*right*/
#page-product-briefing-info{
    flex-basis: 40%;
}

#page-product-briefing-info-name p{
    font-size: 24px;
}

#page-product-briefing-info-rating-stars {
    padding: 10px 20px;
}

#page-product-briefing-info-rating-stars .select {
    color: var(--orange-color);
}

#page-product-briefing-info-rating-stars .select-haft {
    background: linear-gradient(to right, var(--orange-color), #e29b01, #222);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#page-product-briefing-info-price p{
    color: var(--red-color);
}

#page-product-briefing-info-specifications {
    word-wrap: break-word;
    font-size: 18px;
    color: #111;
    /* text-transform: uppercase; */
    display: inline-block;
    font-weight: 600;
}

#page-product-briefing-info-add-to-cart {
    margin: 20px 0;
    max-width: 300px;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    background-color: var(--orange-color);
    color: white;
    border-radius: 10px;
    margin: 20px 20px;
    transition: 0.7s;
}

#page-product-briefing-info-add-to-cart:hover {
    background-color: var(--orange-color-hover);
    color: white;
    cursor: pointer;
}

#page-product-briefing-info-buy-now {
    margin: 20px 20px;
    max-width: 300px;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    background-color: var(--red-color);
    color: white;
    border-radius: 10px;
    transition: 0.7s;
}

#page-product-briefing-info-buy-now:hover {
    background-color: var(--red-color-hover);
    color: white;
    cursor: pointer;
}